body {
    background-color: lightblue;
}

.container {
    background-color: white;
    width: 920px;
    height: 920px;
    border: 1px solid blue;
}

.normalBox {
    border: 1px solid rgb(18, 43, 18);
    background-color: white;
}

.hoverBox {
    background-color: black;
    border: 1px solid white;
}